@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;500&display=swap');

*{
    box-sizing: border-box;
    font-family:'Signika Negative', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #FF7F24, #FFC125) ;
}

.grid-container{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5,100px);
}

.grid-container > button{
    cursor: pointer;
    font-size: 1.2rem;
    border:  1px solid #111;
    outline: none;
    background-color: #111;
    color: #eee;
}

.grid-container > button:hover{
    box-shadow: inset 0 0 0.2em #FFFFE0;
}

.grid-container > .operadores{
    background: #FFC125;
    border: 1px solid #111;
}

.opMaior{
  grid-column: span 2;  
}

.resultado{
    grid-column: 1/-1;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.resultado > .previaResultado{
    color: #eee;
    font-size: 1.5rem;
}
.resultado > .valorDigitado{
    color: white;
    font-size: 2.5rem;
}